<!-- Start Company Area -->
<div class="company-area bg-color1">
    <div class="company-wrapper section-spacing">
        <div class="container">
            <h1 class="heading-1">Violet Sponsors<br  /><br  /></h1>

                <div class="company-logo">
                    <a href="#"><img src="{{site.baseurl}}/assets/images/sponsors/company-logo1.png" alt="company logo"></a>
                </div><br  /><br  />
            <h1 class="heading-1">Indigo Sponsors<br  /><br  /></h1>

                <div class="company-logo">
                    <a href="#"><img src="{{site.baseurl}}/assets/images/sponsors/company-logo8.jpg" alt="company logo" width="600"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Company Area -->