<!-- Start Faq  Area -->
<section class="faq-area bg-color3">
    <div class="faq-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="section-title">
                <h2 class="heading-2">Frequently Asked Questions?</h2>
                <p>Have some questions about our initiative or how to get involved. Here are some quick responses, but you can also find more comprehensive answers elsewhere in the website or contact us. </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <article class="faq-service bg-color1">
                        <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                            <div class="logo-image"> <img src="{{site.baseurl}}/assets/images/001-computer.png" alt="" /></div>
                        </header>
                        <footer class="faq-content">
                            <h4 class="heading-4">What is Reproducibility for Everyone?</h4>
                            <p><a href="{{ site.url }}/pages/about">A group of volunteers across the globe</a> who are developing resources and teaching workshops to enable researchers to do reproducible research. <br  /><br  /><br  /></p>
                        </footer>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="faq-service bg-color1">
                        <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                            <div class="logo-image"> <img src="{{site.baseurl}}/assets/images/002-support.png" alt="" /></div>
                        </header>
                        <footer class="faq-content">
                            <h4 class="heading-4">Can I contribute content?</h4>
                            <p>Yes, absolutely! Reproducibility for Everyone is a community driven initiative and we welcome anyone to contribute, update, and add to materials. For more information, please see our <a href="{{ site.url }}/pages/contribute">section on how to contribute</a>.</p>
                        </footer>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="faq-service bg-color1">
                        <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                            <div class="logo-image"> <img src="{{site.baseurl}}/assets/images/004-coupon.png" alt="" /></div>
                        </header>
                        <footer class="faq-content">
                            <h4 class="heading-4">Where and when is the next workshop taking place?</h4>
                            <p></p>Upcoming events are listed on our <a href="{{ site.url }}/pages/events">Events page</a>. If you can’t find something suitable there and want to organise your own workshop, <a href="{{ site.url }}/pages/host">let us know</a>? <br  /><br  /><br  /></p>
                        </footer>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="faq-service bg-color1">
                        <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                            <div class="logo-image"> <img src="{{site.baseurl}}/assets/images/005-payment-method.png" alt="" /></div>
                        </header>
                        <footer class="faq-content">
                            <h4 class="heading-4">Can I organise a reproducibility workshop?</h4>
                            <p><a href="{{site.url}}/pages/host">Yes, please!</a> All our materials is available under open licenses and we even provide a guide to help you organise your workshop. <a href="https://forms.gle/FRGxhMf7Kfupkwiq5">Complete this form</a> to let us know you’re interested in organising an event so that we can provide some basic support. </p>
                        </footer>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Faq Area -->