<!-- Start Footer Area -->
<footer class="footer-area bg-color3">
    <div class="footer-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget wow fadeIn" data-wow-duration="1s">
                        <h5 class="footer-title heading-5">About Us</h5>
                        <p>Reproducibility for Everyone produces resources to help grow researchers' awareness of and ability to do reproducible research.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget wow fadeIn" data-wow-duration="2s">
                     </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget wow fadeIn" data-wow-duration="3s">
                            <h5 class="footer-title heading-5">Contact Us</h5>
                        <ul class="footer-socials list-inline">
                            <li class="list-inline-item"><a href="mailto:hello@repro4everyone.org">hello@repro4everyone.org</a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/repro4everyone">@repro4everyone</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget wow fadeIn" data-wow-duration="4s">
                        <h5 class="footer-title heading-5">Follow Us</h5>
                        <ul class="footer-socials list-inline">
                            <li class="list-inline-item"><a href="https://twitter.com/repro4everyone"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/repro4everyone"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="container">
            <div class="footer-copyright text-center">
                <p> &copy; Copyright {{ site.time | date: '%Y' }} {{site.title}} - Customised by <a href="http://www.talarify.co.za">Talarify</a> - Template by <a href="https://themeix.com">Themeix</a></p>
                <p><i>All general icons from <a href="https://iconmonstr.com/">iconmonstr</a>, 
                    Country flag icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> 
                    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
                     <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" 
                     target="_blank">CC 3.0 BY</a> and 
                     stock images from <a href="https://pixabay.com/">Pixabay</a>.</i></p>
            </div>
        </div>
    </div>
    <a href="#" class="home-top"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
</footer>
<!-- End Footer Area -->
