<!-- Start Help Area -->
<section class="help-area bg-color1">
    <div class="help-wrapper text-center pb-0 section-spacing">
        <div class="container">
            <div class="help-section">
                <h2 class="heading-2">Still no luck? We can help!</h2>
                <p>Contact us and we’ll get back to you as soon as possible.</p>
                <a href="/pages/submit-ticket" class="btn-style3  btn wow flipInX" data-wow-duration="1s">Submit a Request</a>
            </div>
        </div>
    </div>
</section>
<!-- End Help  Area -->
<!-- Start Company Area -->
<div class="company-area bg-color1">
    <div class="company-wrapper section-spacing">
        <div class="container">
            <div class="company-slider owl-carousel">
                <div class="company-logo">
                    <a href="#"><img src="{{site.baseurl}}/assets/images/company-logo4.png" alt="company logo"></a>
                </div>
                <div class="company-logo">
                    <a href="#"><img src="{{site.baseurl}}/assets/images/company-logo2.png" alt="company logo"></a>
                </div>
                <div class="company-logo">
                    <a href="#"><img src="{{site.baseurl}}/assets/images/company-logo3.png" alt="company logo"></a>
                </div>
                <div class="company-logo">
                    <a href="#"><img src="{{site.baseurl}}/assets/images/company-logo5.png" alt="company logo"></a>
                </div>
                <div class="company-logo">
                    <a href="#"><img src="{{site.baseurl}}/assets/images/company-logo.png" alt="company logo"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Company Area -->