<!-- Start Headline Area -->
<div class="headline-area bg-color1">
    <div class="headline-wrapper ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="headline-box wow fadeInUp" data-wow-duration="1s" style="visibility:visible; animation-duration:1s; animation-name:fadeInUp;">
                        <div class="headline-logo">
                            <a href="/pages/explore-topics/"><img src="{{site.baseurl}}/assets/images/service-icon2.png" alt="Knowledge Base"></a>
                        </div>
                        <div class="headline-content">
                            <h4 class="heading-4"><a href="/pages/explore-topics/">Knowledge Base </a></h4>
                            <p> psum is simply dummy text of the pritypesetting industry Lorem Ipsum has been the industry's standard </p>
                            <a href="/pages/explore-topics/" class="btn btn-style3">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="headline-box wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
                        <div class="headline-logo">
                            <a href="/pages/faq/"><img src="{{site.baseurl}}/assets/images/service-icon.png" alt="Question Answer"></a>
                        </div>
                        <div class="headline-content">
                            <h4 class="heading-4"><a href="/pages/faq/">Question Answer </a></h4>
                            <p> psum is simply dummy text of the pritypesetting industry Lorem Ipsum has been the industry's standard </p>
                            <a href="/pages/faq/" class="btn btn-style3">Read FAQ</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="headline-box m-0 wow fadeInUp" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeInUp;">
                        <div class="headline-logo">
                            <a href="/docs/left-sidebar-example"><img src="{{site.baseurl}}/assets/images/service-icon3.png" alt="Documentation"></a>
                        </div>
                        <div class="headline-content">
                            <h4 class="heading-4"><a href="/docs/left-sidebar-example">Documentation</a></h4>
                            <p> psum is simply dummy text of the pritypesetting industry Lorem Ipsum has been the industry's standard </p>
                            <a href="/docs/left-sidebar-example" class="btn btn-style3">Read Docs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Headline Area -->