<!-- Start Headline Area -->
<div class="headline-area bg-color1">
    <div class="headline-wrapper ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="headline-box wow fadeInUp" data-wow-duration="1s" style="visibility:visible; animation-duration:1s; animation-name:fadeInUp;">
                        <div class="headline-logo">
                            <a href="/pages/contact/"><img src="{{site.baseurl}}/assets/images/contact.png" alt="Contact us"></a>
                        </div>
                        <div class="headline-content">
                            <h4 class="heading-4"><a href="/pages/contact/">Our Communication Channels </a></h4>
                            <p> Join us via one of the communication channels, or propose and implement a new one. You can find us on email, Slack, Twitter, and read our blogs. How else would you like to communicate with us? </p>
                            <a href="{{site.url}}/pages/contact/" class="btn btn-style3">Contact us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="headline-box wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
                        <div class="headline-logo">
                            <a href="{{ site.url }}/pages/contribute/"><img src="{{site.baseurl}}/assets/images/contribute.png" alt="Contribute"></a>
                        </div>
                        <div class="headline-content">
                            <h4 class="heading-4"><a href="/pages/contribute/">Contribute </a></h4>
                            <p> There are numerous ways in which you can contribute to the Reproducibility for Everyone project. We also 
                                welcome collaborators to suggest new ideas for improving and extending the project. Have ideas? Talk to us!<br  /><br  /> </p>
                            <a href="/pages/contribute/" class="btn btn-style3">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="headline-box m-0 wow fadeInUp" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeInUp;">
                        <div class="headline-logo">
                            <a href="/pages/host"><img src="{{site.baseurl}}/assets/images/host.png" alt="Organise an Event"></a>
                        </div>
                        <div class="headline-content">
                            <h4 class="heading-4"><a href="/docs/left-sidebar-example">Organise an Event</a></h4>
                            <p> All our materials are published under open licenses and we provide a guide about event organisation. You can 
                                host a workshop, poster session, or online webinar.<br  /> <br  /><br  /><br  />
                            </p>
                            <a href="/pages/host" class="btn btn-style3">More info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Headline Area -->