<!-- Start Company Area -->
<div class="company-area bg-color1">
    <div class="company-wrapper section-spacing">
        <div class="container">
            <h1 class="heading-1">Past Sponsors<br  /><br  /></h1>
            <div class="company-slider owl-carousel">
                <div class="company-logo">
                    <a href="#"><img src="{{site.baseurl}}/assets/images/sponsors/company-logo4.png" alt="company logo"></a>
                </div>
                <div class="company-logo">
                    <a href="#"><img src="{{site.baseurl}}/assets/images/sponsors/company-logo2.png" alt="company logo"></a>
                </div>
                <div class="company-logo">
                    <a href="#"><img src="{{site.baseurl}}/assets/images/sponsors/company-logo3.png" alt="company logo"></a>
                </div>
                <div class="company-logo">
                    <a href="#"><img src="{{site.baseurl}}/assets/images/sponsors/company-logo5.jpg" alt="company logo"></a>
                </div>
                <div class="company-logo">
                    <a href="#"><img src="{{site.baseurl}}/assets/images/sponsors/company-logo6.png" alt="company logo"></a>
                </div>
    
            </div>
        </div>
    </div>
</div>
<!-- End Company Area -->