<!-- Start Help Area -->
<section class="help-area bg-color2">
    <div class="help-wrapper inner-spacing">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="help-section white-text">
                        <h2 class="heading-2">Become a Sponsor for R4E Workshops </h2>
                        <p>   We are looking to partner with organizations like yours that care about rigorous, transparent, and reproducible science. Your support helps ensure that we can support a diverse network of R4E volunteer instructors through our stipend program. Our stipends lower barriers to joining R4E by covering expenses such as registrations, childcare, and society memberships.
                        </p> 

                        <p> Reproducibility for Everyone sponsors will have their logos included on all our materials, including on our website and handouts. Our sponsors are also highlighted and thanked in our upcoming workshops, depending on the sponsorship level. 
                        </p>
                        <ul>
                            <li>Blue Level Sponsors are highlighted in 1 workshop for $650 USD</li>
                            <li>Indigo Level Sponsors are highlighted in 5 workshops for $2500 USD</li>
                            <li>Violet Level Sponsors are highlighted in 10 workshops for $4500 USD</li>
                        </ul>
                                
                                <p> We are also happy for donations of any size on <a href="https://codeforscience.org/donate/reproducibility-for-everyone/">our fundraising page</a>.
                                </p>
                                
                                <p> We run our workshops premier scientific conferences, including ASM Microbe, Society for Neuroscience, Geological Society of America, American Society for Cell Biology, Allied Genetics Conference by the Genetics Society of America, Evolution, and many more. 
                                </p>
                                
                                <p> If you have questions about supporting R4E, please contact our Executive Director April Clyburne-Sherin at <a href="mailto:april@repro4everyone.org">april@repro4everyone.org</a>.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 d-flex themeix-highlight  justify-content-md-end justify-content-center">
                    <div class="help-btn align-self-center themeix-highlight">

                        <a href="https://codeforscience.org/donate/reproducibility-for-everyone/" class="btn-style3 btn">Donate to R4E</a></div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Help  Area -->