<!-- Start Looking For  Area -->
<section class="looking-for-area bg-color3">
    <div class="looking-for-wrapper section-spacing bminus-30">
        <div class="container">
            <!-- <div class="section-title text-center"> -->
            <!-- <h2 class="heading-2">Didn't find what you were looking for?</h2> -->
            <!-- <p>Lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed vulputate odio ut enim blandit</p> -->
            <!-- </div> -->
            <div class="row">
                <div class="col-md-6">
                    <article class="looking-for-service wow fadeInLeft" data-wow-duration="1s">
                        <header class="looking-for-logo">
                            <a href="{{ site.url }}/pages/explore-topics"><img src="{{site.baseurl}}/assets/images/resources.png" alt="resources"></a>
                        </header>
                        <footer class="looking-for-content">
                            <h4 class="heading-4"><a href="#">Presentations, Tutorials, Posters, Recordings</a></h4>
                            <p> All our resources are made available under open licenses. We are working hard to ensure it is reusable, extensible and customisable. We welcome contributions and feedback. <br  /><br  /></p>
                            <a href="{{ site.url }}/pages/explore-topics" class="btn-style3 btn mt-3">Search Resources</a>
                        </footer>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="looking-for-service wow fadeInRight" data-wow-duration="1s">
                        <header class="looking-for-logo">
                            <a href="{{ site.url }}/pages/events"><img src="{{site.baseurl}}/assets/images/calendar.png" alt="calendar"></a>
                        </header>
                        <footer class="looking-for-content">
                            <h4 class="heading-4"><a href="#">Upcoming Events</a></h4>
                            <p> We regularly run in-person or online events at institutions across the globe. We can also often be found at conferences. Find out where we'll be next, or organise a workshop or online event. </p>
                            <a href="{{ site.url }}/pages/events" class="btn-style3 btn mt-3">Join Us</a>
                        </footer>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Looking For Area -->