<!-- Start Looking For  Area -->
<section class="looking-for-area bg-color3">
    <div class="looking-for-wrapper section-spacing bminus-30">
        <div class="container">
            <!-- <div class="section-title text-center"> -->
            <!-- <h2 class="heading-2">Didn't find what you were looking for?</h2> -->
            <!-- <p>Lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed vulputate odio ut enim blandit</p> -->
            <!-- </div> -->
            <div class="row">
                <div class="col-md-6">
                    <article class="looking-for-service wow fadeInLeft" data-wow-duration="1s">
                        <header class="looking-for-logo">
                            <a href="#"><img src="{{site.baseurl}}/assets/images/looking-logo.png" alt="looking logo"></a>
                        </header>
                        <footer class="looking-for-content">
                            <h4 class="heading-4"><a href="#">Live Chat</a></h4>
                            <p> psum is simply dummy text of the pritypesetting industry Lorem Ipsum has been the industry's standard </p>
                            <a href="#" class="btn-style3 btn mt-3">Join Chatroom</a>
                        </footer>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="looking-for-service wow fadeInRight" data-wow-duration="1s">
                        <header class="looking-for-logo">
                            <a href="#"><img src="{{site.baseurl}}/assets/images/looking-logo2.png" alt="looking logo"></a>
                        </header>
                        <footer class="looking-for-content">
                            <h4 class="heading-4"><a href="https://support.themeix.com/portal/community/newtopic">Ask the Community</a></h4>
                            <p> psum is simply dummy text of the pritypesetting industry Lorem Ipsum has been the industry's standard </p>
                            <a href="https://support.themeix.com/portal/community/newtopic" class="btn-style3 btn mt-3">Join Community</a>
                        </footer>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Looking For Area -->