<div class="team-area bg-color1">
    <div class="team-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="section-title wow fadeInUp" data-wow-duration="2s">
                <p>Over the years many people have contributed to the Reproducibility for Everyone project. </p>
            </div>
            <div class="row">
                {% assign sortednames = site.team_members | sort: "name" %}
                {% for member in sortednames %}
                    {% assign memberitems = member | split: '#' %}
                        {% assign loopindex = forloop.index | modulo: 4 %}
                        {% if loopindex == 1 %}
                        <div class="row">
                            {% endif %}
                            <div class="col-sm-12 col-md-3">

                                <div class="single-team team-style">
                                        <div class="team-content">
                                            <div class="team-title">
                                                <h4 class="heading-4"> {{member.name}} </h4>
                                                <p>{{member.designation}}</p>
                                            </div>
                                            <ul class="team-socials list-inline">
                                                {% if member.twitter %}
                                                <li class="list-inline-item"><a href="https://twitter.com/{{member.twitter}}"><i class="fa fa-twitter"></i></a></li>
                                                {% endif %}
                                                {% if member.linkedin_url %}
                                                <li class="list-inline-item"><a href="https://www.linkedin.com/in/{{member.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                                {% if loopindex == 0 %}
                            </div>
                            {% endif %}
                {% endfor %}
                
                  </div>
             </div>
         </div>
    </div>