<!-- Start Timeline Area -->
<div class="timeline-area bg-color1">
    <div class="timeline-wrapper section-spacing ">
        <div class="container">
            <div class="section-title">
                <h2 class="heading-2">Our History</h2>
                <p>Since late 2017 we have been working hard to provide resources that make it easier for researcher to know where to start with reproducibility. Below are some milestones along the journey. </p>
            </div>

            <div class="timeline">
                <ul>
                    <li>
                        <div class="timeline-content">
                            <h4 class="heading-4">Our New Website Goes Live </h4>
                            <p class="timeline-time">Late June 2019</p>
                            <p class="timeline-desc">Finally, after several months of hard work, we have this new website. We are really eager to get your feedback. Please let us know if something isn't working or if you can't find information. We would also like to hear about positive experiences! </p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <h4 class="heading-4">We Run a Twitter Campaign #ReproducibilityWeekR4E</h4>
                            <p class="timeline-time">Middle June 2019</p>
                            <p class="timeline-desc">In the lead up to the next round of workshops we run a two-week long Twitter Campaign to create awareness of Reproducibility for Everyone, reproducibility resources, and more. Follow us at @repro4everyone and find #ReproducibilityWeekR4E.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <h4 class="heading-4">Work Starts on Our New Materials</h4>
                            <p class="timeline-time">April - June 2019</p>
                            <p class="timeline-desc">New templates are developed for our slides and posters, all our materials are moved to a new Google Team Drive, and eLife Ambassadors start translating materials into several languages. </p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <h4 class="heading-4">We Run Workshops and Appoint a Content Manager</h4>
                            <p class="timeline-time">January - March 2019</p>
                            <p class="timeline-desc">The year started with a bang. We ran some workshops and was informed that our application for a Mozilla Mini-Grant was successful!</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <h4 class="heading-4">Apply for Mozilla Mini-Grant</h4>
                            <p class="timeline-time">December 2018</p>
                            <p class="timeline-desc">We applied for a Mozilla Mini-Grant! If our application is successful, we will use the money to help fund some workshops around the globe. We will also appoint someone to help us develop a new website and to make our materials more accessible to others. Fingers crossed! </p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <h4 class="heading-4">A Busy Year!</h4>
                            <p class="timeline-time">January - December 2018</p>
                            <p class="timeline-desc">We held six workshops, with eLife Ambassadors being involved in 4 of them, in Australia, Canada and the United States, reaching over 200 people in person and inspiring thousands online. </p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <h4 class="heading-4">Reproducibility for Everyone is Founded</h4>
                            <p class="timeline-time">Late 2017</p>
                            <p class="timeline-desc">A small team (consisting of members of the eLife Early-Career Advisory Group (ECAG), Protocols.io, Addgene and Code Ocean) came together in late 2017 to develop and deliver 1–2 hour long workshops at conferences and universities to reach out to our target audience of life science students, postdocs, PIs, and other interested researchers.  </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Timeline Area -->