<!-- Start Topics  Area -->
<section class="topics-area bg-color1">
    <div class="topics-wrapper section-spacing pt-0 bminus-30">
        <div class="container">
            <div class="section-title">
                <h2 class="heading-2">Explore Topics</h2>
                <p>Find presentations, tutorials, posters, and more about practices that supports reproducible research throughout the research lifecycle. Not finding what you're looking for? Please contribute more topics to make this a one-stop-shop for reproducibility resources. </p>
            </div>
			
			<div class="row">
				{% assign groups = site.docs | group_by: "category_name" | sort: "name"  %} {% for group in groups %}
				<div class="col-md-6 col-lg-4">
					<article class="topics-service bg-color3 wow fadeIn" data-wow-duration="3s">
						<header class="topics-title">
							<h4 class="heading-4 text-capitalize">{{ group.name }}</h4>
						</header>
						<ul class="topics-list list-inline">
							{% for item in group.items %}
							<li><a href="{{item.url}}">{{item.title}} </a></li>
							{%endfor%}
						</ul>
					</article>
				</div>
				{%endfor%}
			</div>				
           
		</div>
    </div>
</section>
<!-- End Topics Area -->