---
layout: page
title: Explore R4E Resources
description: "Browse all Reproducibility for Everyone resources, presentations, posters, tutorials, recordings"
keywords: "resources, reproducibility, reproducibility for everyone"
---

<center><iframe width="560" height="315" src="https://www.youtube.com/embed/44p0oENCJkg" 
	frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
	allowfullscreen></iframe></center>

<!-- Start Topics  Area -->
<div class="topics-area bg-color3">
         <div class="topics-wrapper section-spacing bminus-30">
            <div class="container">
               <div class="row">
				{% assign groups = site.docs | group_by: "category_name" | sort: "name" %} {% for group in groups %}
				<div class="col-md-6 col-lg-4">
					<article class="topics-service bg-color3 wow fadeIn" data-wow-duration="3s">
						<header class="topics-title">
							<h4 class="heading-4 text-capitalize">{{ group.name }}</h4>
						</header>
						<ul class="topics-list list-inline">
							{% for item in group.items limit:5 %}
							<li><a href="{{item.url}}">{{item.title}}</a></li>
							{%endfor%}
						</ul>
					</article>
				</div>
				{%endfor%}				  
               </div>
            </div>
         </div>
      </div>
</section>
<!-- End Topics Area -->

<!---Start Call to Action for Contributions Area-->

<section class="help-area bg-color2">
		<div class="help-wrapper inner-spacing">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-lg-9">
						<div class="help-section white-text">
							<h2 class="heading-2">Not finding what you are looking for?</h2>
							<p class="m-0">How about contributing or suggesting new content?</p>
						</div>
					</div>
					<div class="col-md-4 col-lg-3 d-flex themeix-highlight  justify-content-md-end justify-content-center">
						<div class="help-btn align-self-center themeix-highlight">
							<a href="/pages/contact" class="btn-style3 btn">Contribute now</a></div>
					</div>
				</div>
	
			</div>
		</div>
	</section>