---
layout: page
title: Our Community
add_to_menu: true
description: "Our global community"
keywords: "reproducibility, addgene, aspb, protocols.io, mozilla, elife"
---

<div class="team-area bg-color1">
    <div class="team-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="section-title wow fadeInUp" data-wow-duration="2s">
                <p>Our current <b>Reproducibility for Everyone Advisory Committee!</b> </p>
                <ul>
                    <li><b>April Clyburne-Sherin</b> , R4E Executive Director</li>
                    <li><b>Benjamin Schwessinger</b>, Australian National University</li>
                    <li><b>Josh Greenberg</b>, Alfred P. Sloan Foundation</li>
                    <li><b>Kari L. Jordan</b>, The Carpentries</li>
                    <li><b>Lenny Teytelman</b>, protocols.io</li>
                    <li><b>Nafisa M. Jadavji</b>, R4E Advisory Committee Chair, Midwestern University</li>
                    <li><b>Nele Haelterman</b>, Baylor College of Medicine</li>
                    <li><b>Susann Auer</b>, Technische Universität Dresden</li>
                </ul>
        </div>
    </div>
<!-- Start People  Area -->
    
    {% include team_area.html %}
    {% include add_person.html %}

<!-- End People Area -->

                
