
<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords}}{% else %}{{ site.keywords }}{% endif %}">
	<!-- Facebook Open Graph -->	
	<meta content="{{ site.title }}" property="og:site_name">
	<meta property="og:locale" content="en_US" />
	{% if page.title %}<meta content="{{ page.title }}" property="og:title">{% else %}<meta content="{{ site.title }}" property="og:title">{% endif %}
	{% if page.title %}<meta content="article" property="og:type">{% else %}<meta content="website" property="og:type">{% endif %}
	{% if page.description %}<meta content="{{ page.description }}" property="og:description">{% else %}<meta content="{{ site.description }}" property="og:description">{% endif %}
	{% if page.url %}<meta content="{{ site.url }}{{ page.url }}" property="og:url">{% endif %}	
	{% if page.post_image %}<meta content="{{ page.post_image }}" property="og:image">{% else %}<meta content="{{ site.cover_image }}" property="og:image">{% endif %}
	{% if page.tag %}{% for tag in page.tag %}<meta content="{{ tag }}" property="article:tag">{% endfor %}{% endif %}
	{% if page.categories %}{% for category in page.categories limit:1 %}<meta content="{{ category }}" property="article:section">{% endfor %}{% endif %}
	{% if page.date %}<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">{% endif %}	
	<!-- Twitter cards -->
	<meta name="twitter:site"    content="@{{ site.twitter_username }}">
	<meta name="twitter:creator" content="@{{ page.twitter_username }}">
	{% if page.title %}<meta name="twitter:title"   content="{{ page.title }}">{% else %}<meta name="twitter:title"   content="{{ site.title }}">{% endif %}	
	{% if page.description %}<meta name="twitter:description" content="{{ page.description }}">{% else %}<meta name="twitter:description" content="{{ site.description }}">{% endif %}
	{% if page.post_image %}<meta name="twitter:card"  content="summary_large_image"><meta name="twitter:image" content="{{ site.url }}{{ page.post_image }}">{% else %}<meta name="twitter:card"  content="summary"><meta name="twitter:image" content="{{ site.cover_image }}">{% endif %}
    <!-- Site Title -->
    <title>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}</title>
    <!--  Add Favicon -->
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/favicon.png" type="image/x-icon"/>
    <link rel="icon" href="{{site.baseurl}}/assets/images/favicon.png" type="image/x-icon"/>
    <!-- Add CSS File -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/slimmenu.min.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/animate.min.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/rating.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/prism.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css"/>
    <!--  Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
	
</head>

<body>
    {{content}}
    <!-- Add Javascript File -->
    <script src="{{site.baseurl}}/assets/js/jquery-3.3.1.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/popper.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.slimmenu.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/owl.carousel.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/rating.js"></script>	
    <script src="{{site.baseurl}}/assets/js/prism.js"></script>
    <script src="{{site.baseurl}}/assets/js/simple-jekyll-search.min.js"></script>	
    <script src="{{site.baseurl}}/assets/js/parallax.min.js"></script>
    {% if site.animated_header == "true" %}
    <script src="{{site.baseurl}}/assets/js/particles.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/particles-controls.js"></script>
    {% endif %}
    <script src="{{site.baseurl}}/assets/js/wow.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/custom.js"></script>
	    <script data-cfasync='false'>
    window.$crisp=[];
    CRISP_RUNTIME_CONFIG = {
      locale : 'en'
    };
    CRISP_WEBSITE_ID = '0fb3e5b5-1038-45e7-a153-173d144eee90';(function(){
      d=document;s=d.createElement('script');
      s.src='https://client.crisp.chat/l.js';
      s.async=1;d.getElementsByTagName('head')[0].appendChild(s);
    })();</script>
</body>      
</html>